body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f7fa;
  color: rgb(115, 143, 212);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  color: rgb(115, 143, 212);
}

.container {
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(157, 155, 151, 0.215);
  margin-bottom: 20px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}
